@charset "utf-8";

/* CSS Document */
/* Copyright:  AndesTransit */
/* Author: Spiro Kufojanakis / spiroodesk@gmail.com */
/* Compression of css files: http://www.csscompressor.com/ */
/* CSS Background Gradients: http://www.colorzilla.com/gradient-editor/ */
/* Known issue: the compressor misinterprates the cross-browser gradients.
 * compressed files with gradients manually added: andestransit.css,  atreview.css,  ats.css
 */
/* Last 5 revisions:
 * SK: 140329 [v0.9]
 * SK: 140406 [v1.0]
 *
 *
 *
 */

@font-face {
    font-family: carbonblack;
    src: url(/Content/assets/fonts/carbon_bl-webfont.eot?#iefix) format(embedded-opentype), url(/Content/assets/fonts/carbon_bl-webfont.woff) format(woff), url(/Content/assets/fonts/carbon_bl-webfont.ttf) format(truetype), url(/Content/assets/fonts/carbon_bl-webfont.svg#carbonblack) format(svg);
    font-weight: 400;
    font-style: normal;
}

body#body-login {
    background: #eee;
}

.equalheightcol {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.equalheight {
    overflow: hidden;
}

.position-relative {
    position: relative;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.small-60 {
    font-size: 60%;
}

.small-70 {
    font-size: 70%;
}

.small-80 {
    font-size: 80%;
}

.small-90 {
    font-size: 90%;
}

.text-center {
    text-align: center;
}

.flag {
    width: 16px;
    height: 11px;
    background: url(../images/flags.png) no-repeat 0 0;
    display: inline-block;
}

    /*.flag.flag-bo {
        background-position: -48px -111px;
    }

    .flag.flag-ec {
        background-position: -48px -122px;
    }

    .flag.flag-co {
        background-position: -48px -133px;
    }

    .flag.flag-pe {
        background-position: -48px -144px;
    }

    .flag.flag-br {
        background-position: -192px -11px;
    }*/

    .flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tibet {background-position: -176px -143px}
.flag.flag-tj {background-position: -192px -143px}
.flag.flag-tk {background-position: -208px -143px}
.flag.flag-tl {background-position: -224px -143px}
.flag.flag-tm {background-position: -240px -143px}
.flag.flag-tn {background-position: 0 -154px}
.flag.flag-to {background-position: -16px -154px}
.flag.flag-tr {background-position: -32px -154px}
.flag.flag-tt {background-position: -48px -154px}
.flag.flag-tv {background-position: -64px -154px}
.flag.flag-tw {background-position: -80px -154px}
.flag.flag-tz {background-position: -96px -154px}
.flag.flag-ua {background-position: -112px -154px}
.flag.flag-ug {background-position: -128px -154px}
.flag.flag-um {background-position: -144px -154px}
.flag.flag-us {background-position: -160px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -192px -154px}
.flag.flag-va {background-position: -208px -154px}
.flag.flag-vc {background-position: -224px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: 0 -165px}
.flag.flag-vi {background-position: -16px -165px}
.flag.flag-vn {background-position: -32px -165px}
.flag.flag-vu {background-position: -48px -165px}
.flag.flag-wales {background-position: -64px -165px}
.flag.flag-wf {background-position: -80px -165px}
.flag.flag-ws {background-position: -96px -165px}
.flag.flag-xk {background-position: -112px -165px}
.flag.flag-ye {background-position: -128px -165px}
.flag.flag-yt {background-position: -144px -165px}
.flag.flag-za {background-position: -160px -165px}
.flag.flag-zanzibar {background-position: -176px -165px}
.flag.flag-zm {background-position: -192px -165px}
.flag.flag-zw {background-position: -208px -165px}

.arr-left-blue {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-right: 5px solid #009fe3;
    border-bottom: 4px solid transparent;
}

.arr-right-blue-big {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 10px solid transparent;
    border-left: 12px solid #a8cfdf;
    border-bottom: 10px solid transparent;
}
    /*.arr-right-blue-big.midboxarr {
    position: absolute;
    top: 50px;
    right: -12px;
}*/
    .arr-right-blue-big.midboxarr {
        position: absolute;
        margin-top: -5px;
        margin-left: 61.2%;
    }

    .arr-right-blue-big.final-dest {
        position: absolute;
        top: 8px;
        left: 0;
        border-left: 12px solid #009fe3;
    }

.arr-left-blue-big {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 10px solid transparent;
    border-right: 12px solid #a8cfdf;
    border-bottom: 10px solid transparent;
}
    /*.arr-left-blue-big.midboxarr {
    position: absolute;
    top: 50px;
    left: -12px;
}*/
    .arr-left-blue-big.midboxarr {
        margin-top: -5px;
        position: absolute;
        margin-left: 33.1%;
    }

.arr-down-blue-big {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 12px solid #a8cfdf;
}

.transfer .arr-down-blue-big {
    position: absolute;
    bottom: -13px;
    left: 100px;
}

.arr-down-green {
    display: block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 14px solid #e0ff00;
    float: left;
    margin-top: 8px;
    margin-right: 8px;
}

.arr-right-green {
    display: block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 14px solid #e0ff00;
    float: left;
    margin-top: 4px;
    margin-right: 8px;
}

.icon-bus {
    width: 31px;
    height: 37px;
    background: url(../images/sprites.png) no-repeat -2px 0;
    float: right;
}

.icon-train {
    width: 31px;
    height: 37px;
    background: url(../images/sprites.png) no-repeat -2px -39px;
    float: right;
    margin-left: 2px;
}

.icon-help {
    width: 24px;
    height: 25px;
    background: url(../images/sprites.png) no-repeat -36px 0;
    margin-right: 5pt;
    text-indent: -9999pt;
}

.icon-tweeter {
    width: 13px;
    height: 11px;
    background: url(../images/sprites.png) no-repeat -48px -80px;
    float: left;
    margin-right: 5pt;
}

.icon-top10 {
    font-family: "Courier New", Courier, monospace;
    width: 16px;
    height: 20px;
    background: url(../images/sprites.png) no-repeat -48px -91px;
    font-size: 8pt;
    letter-spacing: -2px;
    text-align: center;
    padding-top: 1px;
    display: inline-block;
    margin-right: 7pt;
}

.icon-edit {
    width: 11px;
    height: 12px;
    background: url(../images/sprites.png) no-repeat -48px -171px;
    margin-left: 1pt;
    display: inline-block;
}

.icon-social {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-indent: -9999pt;
    overflow: hidden;
}

.icon-map-bolivia {
    background: url(../images/sprites-maps.png) no-repeat 0 0;
    width: 87px;
    height: 102px;
    display: inline-block;
    text-indent: -999pt;
}

.icon-map-peru {
    background: url(../images/sprites-maps.png) no-repeat 0 -102px;
    width: 87px;
    height: 102px;
    display: inline-block;
    text-indent: -999pt;
}

.icon-map-colombia {
    background: url(../images/sprites-maps.png) no-repeat 0 -204px;
    width: 87px;
    height: 102px;
    display: inline-block;
    text-indent: -999pt;
}

.icon-map-ecuador {
    background: url(../images/sprites-maps.png) no-repeat 0 -306px;
    width: 87px;
    height: 102px;
    display: inline-block;
    text-indent: -999pt;
}

.icon-map-bolivia:hover, .map-bolivia.selected .icon-map-bolivia {
    background: #afa06c url(../images/sprites-maps.png) no-repeat 0 0;
}

.icon-map-peru:hover, .map-peru.selected .icon-map-peru {
    background: #afa06c url(../images/sprites-maps.png) no-repeat 0 -102px;
}

.icon-map-colombia:hover, .map-colombia.selected .icon-map-colombia {
    background: #afa06c url(../images/sprites-maps.png) no-repeat 0 -204px;
}

.icon-map-ecuador:hover, .map-ecuador.selected .icon-map-ecuador {
    background: #afa06c url(../images/sprites-maps.png) no-repeat 0 -306px;
}

.icon-star-blue {
    width: 18px;
    height: 17px;
    background: url(../images/sprites.png) no-repeat -48px -183px;
    display: block;
}

.icon-area {
    width: 19px;
    height: 24px;
    background: url(../images/sprites.png) no-repeat -48px -199px;
    display: block;
}

.icon-social.fb {
    background: url(/Content/assets/img/facebook.png);
}

.icon-social.tw {
    background: url(/Content/assets/img/twitter.png);
}

.icon-social.gplus {
    background: url(../images/sprites.png) no-repeat 0 -176px;
}

.btn > .caret.left, .dropup > .btn > .caret.left {
    border-top-color: #000 !important;
}

.icon-cart {
    width: 23px;
    height: 21px;
    background: url(../images/sprites.png) no-repeat -36px -266px;
    display: inline-block;
    margin: 2pt 2pt 2pt 5pt;
}

.icon-pdf {
    width: 26px;
    height: 27px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 -170px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5pt 0 2pt;
}

.icon-departure {
    width: 55px;
    height: 35px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 0;
    display: block;
    margin: 0 auto;
}

.icon-arrival {
    width: 55px;
    height: 35px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 -35px;
    display: block;
    margin: 0 auto;
}

.icon-bus-srch {
    width: 25px;
    height: 35px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 0;
    display: block;
    margin: 0 auto;
}

.icon-road {
    width: 40px;
    height: 39px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 -70px;
    display: block;
    margin: 0 auto;
}

.icon-dollar-sign {
    width: 17px;
    height: 35px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 -135px;
    display: block;
    margin: 0 auto;
}

.icon-info-sign {
    width: 31px;
    height: 26px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 -108px;
    display: block;
    margin: 0 auto;
}

.icon-bus-s-l {
    width: 61px;
    height: 29px;
    background: url(/Content/assets/img/spritessr.png) no-repeat -88px -6px;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

.icon-bus-s-r {
    width: 61px;
    height: 29px;
    background: url(/Content/assets/img/spritessr.png) no-repeat -151px -6px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

.icon-bus-xl-l {
    width: 99px;
    height: 47px;
    background: url(/Content/assets/img/spritessr.png) no-repeat -88px -35px;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
}

.icon-bus-xl-r {
    width: 99px;
    height: 47px;
    background: url(/Content/assets/img/spritessr.png) no-repeat -190px -35px;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
}

.icon-train-xl {
    width: 88px;
    height: 71px;
    background: url(/Content/assets/img/spritessr.png) no-repeat -88px -82px;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
}

.icon-train-s-l {
    width: 36px;
    height: 29px;
    background: url(/Content/assets/img/spritessr.png) no-repeat -246px -6px;
    vertical-align: middle;
    float: right;
    margin-right: 20px;
    margin-top: 3px;
}

.icon-train-s-r {
    width: 36px;
    height: 29px;
    background: url(/Content/assets/img/spritessr.png) no-repeat -254px -6px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 20px;
    margin-top: 3px;
}

.icon-letter {
    width: 25px;
    height: 16px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 -197px;
    display: inline-block;
}

.icon-dollar-sign2 {
    width: 14px;
    height: 23px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 -213px;
    float: left;
    margin: 7px 26px 0 16px;
}

.icon-sleep-bed {
    width: 34px;
    height: 24px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 -236px;
    float: left;
    margin: 7px 26px 0 32px;
}

.icon-clock {
    width: 24px;
    height: 23px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 -260px;
    float: left;
    margin: 7px 0 0 26px;
}

.icon-smiley {
    width: 29px;
    height: 29px;
    background: url(/Content/assets/img/spritessr.png) no-repeat 0 -283px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 8px;
    margin-top: 3px;
}

.icon-letter-oval-orange {
    width: 77px;
    height: 77px;
    background: url(/Content/assets/img/spritespp.png) no-repeat 0 0;
    display: block;
    margin: 0 auto;
}

.icon-checkmark-oval-green {
    width: 77px;
    height: 77px;
    background: url(/Content/assets/img/spritespp.png) no-repeat 0 -77px;
    display: block;
    margin: 0 auto;
}

.icon-pay-online {
    width: 92px;
    height: 92px;
    background: url(/Content/assets/img/spritespp.png) no-repeat 0 -154px;
    display: block;
}

.icon-ticket-delivery {
    width: 92px;
    height: 92px;
    background: url(/Content/assets/img/spritespp.png) no-repeat 0 -246px;
    display: block;
}

.icon-counter {
    width: 92px;
    height: 92px;
    background: url(/Content/assets/img/spritespp.png) no-repeat 0 -338px;
    display: block;
}

.icon-search {
    width: 32px;
    height: 39px;
    background: url(../images/sprites.png) no-repeat 0 -332px;
    border: none;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

    .icon-search:hover {
        background: url(../images/sprites.png) no-repeat -32px -332px;
    }

.icon-comments {
    width: 32px;
    height: 27px;
    background: url(../images/sprites.png) no-repeat -36px -296px;
    display: inline-block;
    vertical-align: middle;
}

.icon-plus {
    width: 14px;
    height: 17px;
    background: url(../images/sprites.png) no-repeat -63px -266px;
    display: block;
}

.bg-icon {
    float: left;
    width: 42px;
    height: 42px;
    margin-right: 7pt;
}

.bg-danger {
    background-color: #df766e;
    color: #FFF;
    -webkit-border-radius: 2pt;
    -moz-border-radius: 2pt;
    border-radius: 2pt;
    min-height: 50pt;
    padding: 10pt 7pt;
}

    .bg-danger a {
        color: #FFF;
        text-decoration: underline;
    }

a.bg-danger:hover {
    background-color: #c14940;
    color: #FFF;
    padding: 3pt;
}

.bg-icon.danger {
    background: url(../images/sprites.png) no-repeat -36px -224px;
}

.icon-ship {
    width: 31px;
    height: 37px;
    float: right;
}


/*= Buttons
****************************************************************************/

/* Button red */

.btn-red {
    text-transform: uppercase;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-shadow: 1pt 1pt 2pt rgba(0, 0, 0, 0.7);
    border: none;
    min-width: 80pt;
    background: #b43134;
    /* Old browsers */
    /* IE9 SVG,  needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml; base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0MzEzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YzFlMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #b43134 0%, #9c1e19 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b43134), color-stop(100%, #9c1e19));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #b43134 0%, #9c1e19 100%);
    /* Chrome10+, Safari5.1+ */
    background: -o-linear-gradient(top, #b43134 0%, #9c1e19 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b43134 0%, #9c1e19 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #b43134 0%, #9c1e19 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b43134', endColorstr='#9c1e19', GradientType=0 );
    /* IE6-8 */
}

    .btn-red: hover,
    .btn-red:focus,
    .btn-red:active,
    .btn-red.active,
    .open .dropdown-toggle.btn-red {
        color: #fff;
        border: none;
        background: #9c1e19;
        /* Old browsers */
        /* IE9 SVG,  needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml; base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzljMWUxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNDMxMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #9c1e19 0%, #b43134 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9c1e19), color-stop(100%, #b43134));
        /* Chrome, Safari4+ */
        background: -webkit-linear-gradient(top, #9c1e19 0%, #b43134 100%);
        /* Chrome10+, Safari5.1+ */
        background: -o-linear-gradient(top, #9c1e19 0%, #b43134 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #9c1e19 0%, #b43134 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #9c1e19 0%, #b43134 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c1e19', endColorstr='#b43134', GradientType=0 );
        /* IE6-8 */
    }

    .btn-red: active,
    .btn-red.active,
    .open .dropdown-toggle.btn-red {
        background-image: none;
        background: #9c1e19;
    }

    .btn-red.disabled,
    .btn-red[disabled],
    fieldset[disabled] .btn-red,
    .btn-red.disabled: hover,
    .btn-red[disabled]:hover,
    fieldset[disabled] .btn-red:hover,
    .btn-red.disabled:focus,
    .btn-red[disabled]:focus,
    fieldset[disabled] .btn-red:focus,
    .btn-red.disabled:active,
    .btn-red[disabled]:active,
    fieldset[disabled] .btn-red:active,
    .btn-red.disabled.active,
    .btn-red[disabled].active,
    fieldset[disabled] .btn-red.active {
        border: none;
        background: #9c1e19;
        /* Old browsers */
        /* IE9 SVG,  needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml; base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzljMWUxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNDMxMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #9c1e19 0%, #b43134 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9c1e19), color-stop(100%, #b43134));
        /* Chrome, Safari4+ */
        background: -webkit-linear-gradient(top, #9c1e19 0%, #b43134 100%);
        /* Chrome10+, Safari5.1+ */
        background: -o-linear-gradient(top, #9c1e19 0%, #b43134 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #9c1e19 0%, #b43134 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #9c1e19 0%, #b43134 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c1e19', endColorstr='#b43134', GradientType=0 );
        /* IE6-8 */
    }

    .btn-red .badge {
        color: #d9534f;
        background-color: #fff;
    }


/* Button red flat */

.btn-red-flat {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 11pt;
    padding: 2pt 8pt;
    border: none;
    min-width: 80pt;
    background: #9c1914;
    /* Old browsers */
}

    .btn-red-flat: hover,
    .btn-red-flat:focus,
    .btn-red-flat:active,
    .btn-red-flat.active,
    .open .dropdown-toggle.btn-red-flat {
        color: #fff;
        border: none;
        background: #6a0905;
        /* Old browsers */
    }

    .btn-red-flat: active,
    .btn-red-flat.active,
    .open .dropdown-toggle.btn-red-flat {
        background-image: none;
    }

    .btn-red-flat.disabled,
    .btn-red-flat[disabled],
    fieldset[disabled] .btn-red-flat,
    .btn-red-flat.disabled: hover,
    .btn-red-flat[disabled]:hover,
    fieldset[disabled] .btn-red-flat:hover,
    .btn-red-flat.disabled:focus,
    .btn-red-flat[disabled]:focus,
    fieldset[disabled] .btn-red-flat:focus,
    .btn-red-flat.disabled:active,
    .btn-red-flat[disabled]:active,
    fieldset[disabled] .btn-red-flat:active,
    .btn-red-flat.disabled.active,
    .btn-red-flat[disabled].active,
    fieldset[disabled] .btn-red-flat.active {
        border: none;
        background: #9c1914;
        /* Old browsers */
    }

    .btn-red-flat .badge {
        color: #9c1914;
        background-color: #fff;
    }


/* Button yellow flat */

.btn-yellow-flat {
    color: #333;
    font-weight: 400;
    font-size: 12pt;
    border: none;
    min-width: 60px;
    background: #fdc311;
    /* Old browsers */
    margin-bottom: 4px;
    /* fix to be vertically centered in search accordion */
}

    .btn-yellow-flat: hover,
    .btn-yellow-flat:focus,
    .btn-yellow-flat:active,
    .btn-yellow-flat.active,
    .open .dropdown-toggle.btn-yellow-flat {
        color: #fff;
        border: none;
        background: #dca600;
        /* Old browsers */
    }

    .btn-yellow-flat: active,
    .btn-yellow-flat.active,
    .open .dropdown-toggle.btn-yellow-flat {
        background-image: none;
    }

    .btn-yellow-flat.disabled,
    .btn-yellow-flat[disabled],
    fieldset[disabled] .btn-yellow-flat,
    .btn-yellow-flat.disabled: hover,
    .btn-yellow-flat[disabled]:hover,
    fieldset[disabled] .btn-yellow-flat:hover,
    .btn-yellow-flat.disabled:focus,
    .btn-yellow-flat[disabled]:focus,
    fieldset[disabled] .btn-yellow-flat:focus,
    .btn-yellow-flat.disabled:active,
    .btn-yellow-flat[disabled]:active,
    fieldset[disabled] .btn-yellow-flat:active,
    .btn-yellow-flat.disabled.active,
    .btn-yellow-flat[disabled].active,
    fieldset[disabled] .btn-yellow-flat.active {
        border: none;
        background: #dca600;
        /* Old browsers */
    }

    .btn-yellow-flat .badge {
        color: #dca600;
        background-color: #fff;
    }


/* Button black */

.btn-black {
    text-transform: uppercase;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-shadow: 1pt 1pt 2pt rgba(0, 0, 0, 0.7);
    border: none;
    min-width: 50pt;
    background: #232323;
    /* Old browsers */
    /* IE9 SVG,  needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml; base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzMjMyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzAyMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #232323 0%, #070200 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #232323), color-stop(100%, #070200));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #232323 0%, #070200 100%);
    /* Chrome10+, Safari5.1+ */
    background: -o-linear-gradient(top, #232323 0%, #070200 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #232323 0%, #070200 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #232323 0%, #070200 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#070200', GradientType=0 );
    /* IE6-8 */
}

    .btn-black: hover,
    .btn-black:focus,
    .btn-black:active,
    .btn-black.active,
    .open .dropdown-toggle.btn-black {
        color: #fff;
        border: none;
        background: #070200;
        /* Old browsers */
        /* IE9 SVG,  needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml; base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3MDIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzIzMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #070200 0%, #232323 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #070200), color-stop(100%, #232323));
        /* Chrome, Safari4+ */
        background: -webkit-linear-gradient(top, #070200 0%, #232323 100%);
        /* Chrome10+, Safari5.1+ */
        background: -o-linear-gradient(top, #070200 0%, #232323 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #070200 0%, #232323 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #070200 0%, #232323 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070200', endColorstr='#232323', GradientType=0 );
        /* IE6-8 */
    }

    .btn-black: active,
    .btn-black.active,
    .open .dropdown-toggle.btn-black {
        /*background-image:  none;
    */
    }

    .btn-black.disabled,
    .btn-black[disabled],
    fieldset[disabled] .btn-black,
    .btn-black.disabled: hover,
    .btn-black[disabled]:hover,
    fieldset[disabled] .btn-black:hover,
    .btn-black.disabled:focus,
    .btn-black[disabled]:focus,
    fieldset[disabled] .btn-black:focus,
    .btn-black.disabled:active,
    .btn-black[disabled]:active,
    fieldset[disabled] .btn-black:active,
    .btn-black.disabled.active,
    .btn-black[disabled].active,
    fieldset[disabled] .btn-black.active {
        border: none;
        background: #070200;
        /* Old browsers */
        /* IE9 SVG,  needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml; base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3MDIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzIzMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #070200 0%, #232323 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #070200), color-stop(100%, #232323));
        /* Chrome, Safari4+ */
        background: -webkit-linear-gradient(top, #070200 0%, #232323 100%);
        /* Chrome10+, Safari5.1+ */
        background: -o-linear-gradient(top, #070200 0%, #232323 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #070200 0%, #232323 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #070200 0%, #232323 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070200', endColorstr='#232323', GradientType=0 );
        /* IE6-8 */
    }

    .btn-black .badge {
        color: #d9534f;
        background-color: #fff;
    }


/* Button grey */

.btn-grey {
    color: #fff;
    background-color: #c8c8c8;
    border-color: #c8c8c8;
}

    .btn-grey: hover,
    .btn-grey:focus,
    .btn-grey:active,
    .btn-grey.active,
    .open .dropdown-toggle.btn-grey {
        color: #fff;
        border-color: #c8c8c8;
        background: #b1b1b1;
    }

    .btn-grey: active,
    .btn-grey.active,
    .open .dropdown-toggle.btn-red {
        background-image: none;
    }

    .btn-grey.disabled,
    .btn-grey[disabled],
    fieldset[disabled] .btn-grey,
    .btn-grey.disabled: hover,
    .btn-grey[disabled]:hover,
    fieldset[disabled] .btn-grey:hover,
    .btn-grey.disabled:focus,
    .btn-grey[disabled]:focus,
    fieldset[disabled] .btn-grey:focus,
    .btn-grey.disabled:active,
    .btn-grey[disabled]:active,
    fieldset[disabled] .btn-grey:active,
    .btn-grey.disabled.active,
    .btn-grey[disabled].active,
    fieldset[disabled] .btn-grey.active {
        border-color: #c8c8c8;
        background: #c8c8c8;
        /* Old browsers */
    }

    .btn-grey .badge {
        color: #d9534f;
        background-color: #fff;
    }


/* Button grey/blue */

.btn-grey-blue {
    color: #5db9e0;
    background-color: #e3e3e3;
    border-color: #e3e3e3;
}

    .btn-grey-blue: hover,
    .btn-grey-blue:focus,
    .btn-grey-blue:active,
    .btn-grey-blue.active,
    .open .dropdown-toggle.btn-grey-blue {
        color: #FFFFFF !important;
        border-color: #009fe3;
        background: #009fe3;
    }

    .btn-grey-blue: active,
    .btn-grey-blue.active,
    .open .dropdown-toggle.btn-grey-blue {
        background-image: none;
    }

    .btn-grey-blue.disabled,
    .btn-grey-blue[disabled],
    fieldset[disabled] .btn-grey-blue,
    .btn-grey-blue.disabled: hover,
    .btn-grey-blue[disabled]:hover,
    fieldset[disabled] .btn-grey-blue:hover,
    .btn-grey-blue.disabled:focus,
    .btn-grey-blue[disabled]:focus,
    fieldset[disabled] .btn-grey-blue:focus,
    .btn-grey-blue.disabled:active,
    .btn-grey-blue[disabled]:active,
    fieldset[disabled] .btn-grey-blue:active,
    .btn-grey-blue.disabled.active,
    .btn-grey-blue[disabled].active,
    fieldset[disabled] .btn-grey-blue.active {
        border-color: #c8c8c8;
        background: #c8c8c8;
        /* Old browsers */
    }

    .btn-grey-blue .badge {
        color: #d9534f;
        background-color: #fff;
    }



/* button default ctp-origin */

.btn-default.btn-ctp-origin {
    width: 100%;
    border-color: white;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 11pt;
    color: #979797;

        background: #fff;
    border-radius: 5px;
    padding: 2px 5px;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.4);
    height: 26px;
    border: 1px solid #dbdbdb;
}

    .btn-default.btn-ctp-origin: hover,
    .btn-default.btn-ctp-origin:focus,
    .btn-default.btn-ctp-origin:active,
    .btn-default.btn-ctp-origin.active,
    .open .dropdown-toggle.btn-default.btn-ctp-origin {
        color: #333;
        background-color: white;
        border-color: white;
    }

.btn.btn-ctp-origin: focus,
.btn.btn-ctp-origin:active:focus,
.btn.btn-ctp-origin.active:focus {
    outline: none;
}

.btn-default.btn-ctp-origin .caret {
    float: right;
    margin-top: 9px;
}


/* btn-primary */

.btn-primary {
    color: #fff;
    background-color: #009fe3;
    border-color: #009fe3;
}

.btn-primary {
    color: #fff;
    background-color: #009fe3;
    border-color: #009fe3;
}

    .btn-primary: hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #008ac5;
        border-color: #008ac5;
    }

    .btn-primary: active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        background-image: none;
    }

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary,
    .btn-primary.disabled: hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled:active,
    .btn-primary[disabled]:active,
    fieldset[disabled] .btn-primary:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary.active {
        background-color: #009fe3;
        border-color: #009fe3;
    }

    .btn-primary .badge {
        color: #008ac5;
        background-color: #fff;
    }

div#carousel-background {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    border: 0;
    border-radius: 0;
    top: 0;
    bottom: 0;
}

    div#carousel-background .carousel-inner > .item > img {
        width: 100%;
    }

header {
    border-top: 12px solid #232323;
    background: #f3f3f3;
    min-height: 74px;
    padding-top: 6px;
}

.cart-in-header {
    background: #e7e7e7;
    -webkit-border-radius: 3pt;
    -moz-border-radius: 3pt;
    border-radius: 3pt;
    margin-top: 8pt;
    min-width: 250px;
}

    .cart-in-header .cart-items {
        display: inline-block;
        color: red;
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        font-size: 13pt;
        line-height: 21px;
        margin: 2pt 30pt 2pt 5pt;
    }

header .divider {
    width: 1px;
    height: 55px;
    background: url(../images/sprites.png) no-repeat 0 0;
    margin-top: 5px;
    padding: 0;
}

/*header .logo {
    margin-top: 5px;
}*/

header .taglines {
    width: 313px;
}

header .tagline2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    color: #009fe3;
    margin-top: 2pt;
    display: block;
    width: 310px;
}

header .tagline3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 11pt;
    color: #404040;
    margin-top: 5pt;
    letter-spacing: 1pt;
    display: block;
    width: 330px;
}

header .pull-right-resp {
    float: right !important;
}

header .membership {
    font-family: 'Droid Sans', sans-serif;
    font-size: 13pt;
    color: #56a1d5;
}

.header-lang {
    margin-top: 5pt;
}

footer {
    border-top: 1px solid #9d9d9d;
    min-height: 80px;
    background: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

    footer .title {
        font-family: 'PT Sans', sans-serif;
        font-size: 15pt;
        color: #FFF;
        line-height: 15pt;
        margin-bottom: 14px;
    }

.footer-nav, .footer-nav a {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 11pt;
    color: #999;
    text-decoration: none;
}

    .footer-nav a:hover {
        color: #eee;
    }

    .footer-nav .f-nav-col:first-child {
        margin-left: 0;
    }

.footer-mid .logos {
    background: #bbb;
    width: 93px;
    height: 47px;
    border: 4px solid #bbb;
    display: inline-block;
    text-indent: -9999pt;
    margin: 0 1px 6px 0;
}

    .footer-mid .logos.cs {
        background: url(/Content/assets/img/footer-logos.png) no-repeat 0 0;
    }

    .footer-mid .logos.ta {
        background: url(/Content/assets/img/footer-logos.png) no-repeat 0 -39px;
    }

    .footer-mid .logos.vt {
        background: url(/Content/assets/img/footer-logos.png) no-repeat 0 -78px;
    }

    .footer-mid .logos.vj {
        background: url(/Content/assets/img/footer-logos.png) no-repeat 0 -117px;
    }

    .footer-mid .logos.lp {
        background: url(/Content/assets/img/footer-logos.png) no-repeat 0 -156px;
    }

.footer-mid a.logos:hover {
    border-color: #eee;
}

a, .color-blue {
    color: #009fe3;
}

/*body#body-home, body#body-search, footer .container {
    background: #000;
}*/

.ml40, .footer-nav .f-nav-col {
    margin-left: 40px;
}

:-moz-any-link:focus, .btn.btn-ctp-origin:focus, .btn.btn-ctp-origin:active:focus, .btn.btn-ctp-origin.active:focus {
    outline: none;
}

.btn-red:active, .btn-red.active, .open .dropdown-toggle.btn-red, .btn-red-flat:active, .btn-red-flat.active, .open .dropdown-toggle.btn-red-flat, .btn-yellow-flat:active, .btn-yellow-flat.active, .open .dropdown-toggle.btn-yellow-flat, .btn-grey:active, .btn-grey.active, .open .dropdown-toggle.btn-red, .btn-grey-blue:active, .btn-grey-blue.active, .open .dropdown-toggle.btn-grey-blue, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-red .badge, .btn-black .badge, .btn-grey .badge, .btn-grey-blue .badge {
    color: #d9534f;
    background-color: #fff;
}

.btn-grey.disabled, .btn-grey[disabled], fieldset[disabled] .btn-grey, .btn-grey.disabled:hover, .btn-grey[disabled]:hover, fieldset[disabled] .btn-grey:hover, .btn-grey.disabled:focus, .btn-grey[disabled]:focus, fieldset[disabled] .btn-grey:focus, .btn-grey.disabled:active, .btn-grey[disabled]:active, fieldset[disabled] .btn-grey:active, .btn-grey.disabled.active, .btn-grey[disabled].active, fieldset[disabled] .btn-grey.active, .btn-grey-blue.disabled, .btn-grey-blue[disabled], fieldset[disabled] .btn-grey-blue, .btn-grey-blue.disabled:hover, .btn-grey-blue[disabled]:hover, fieldset[disabled] .btn-grey-blue:hover, .btn-grey-blue.disabled:focus, .btn-grey-blue[disabled]:focus, fieldset[disabled] .btn-grey-blue:focus, .btn-grey-blue.disabled:active, .btn-grey-blue[disabled]:active, fieldset[disabled] .btn-grey-blue:active, .btn-grey-blue.disabled.active, .btn-grey-blue[disabled].active, fieldset[disabled] .btn-grey-blue.active {
    background: #c8c8c8;
    border-color: #c8c8c8;
}

.testi-partner {
    background: #fff;
}

ul.testimonial {
    list-style: none;
    padding: 0;
}

    ul.testimonial li {
        padding: 10px;
        width: auto !important;
        border-bottom: 1px solid #cacaca;
        font-style: italic;
    }

        ul.testimonial li: nth-child(2n) {
            border: none;
        }

        ul.testimonial li span {
            float: right;
        }

        ul.testimonial li: after {
            display: block;
            content: "";
            clear: both;
        }

.bx-wrapper {
    margin: 15px auto 32px auto;
}

    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        bottom: -25px;
    }

    .bx-wrapper .bx-pager {
        padding-left: 5px;
        text-align: center;
    }

        .bx-wrapper .bx-pager.bx-default-pager a {
            margin: 0 3px;
            text-indent: 99px;
            overflow: hidden;
        }

.partner-us .bx-wrapper {
    margin-left: 0;
}

    .partner-us .bx-wrapper .bx-viewport {
        box-shadow: none;
        padding: 5px;
    }

.bx-wrapper .bx-viewport {
    padding: 5px;
}

.partner {
    margin-left: 0;
    list-style: none;
    /*margin-top: 15px;*/
    padding: 0;
}

    .partner li {
        float: left;
        /*margin-right: 3%;*/
    }

        .partner li: nth-child(4n) {
            margin-right: 0;
        }

.partner-us .bx-wrapper .bx-viewport li img {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}

.partner-us .bx-wrapper .bx-viewport li: first-child {
    margin-left: 50px;
}

.bx-wrapper .bx-prev {
    left: 0;
}

.bx-wrapper .bx-next {
    right: 0;
}

.more-testi a {
    display: block;
    padding: 6px 5px;
    background: #b43134;
    background: url(data:image/svg+xml; base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #b43134 0%, #9c1e19 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b43134), color-stop(100%, #9c1e19));
    background: -webkit-linear-gradient(top, #b43134 0%, #9c1e19 100%);
    background: -o-linear-gradient(top, #b43134 0%, #9c1e19 100%);
    background: -ms-linear-gradient(top, #b43134 0%, #9c1e19 100%);
    background: linear-gradient(to bottom, #b43134 0%, #9c1e19 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b43134', endColorstr='#9c1e19', GradientType=0 );
    text-transform: uppercase;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-shadow: 1pt 1pt 2pt rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 25px;
}

.loader {
    background-image: url(../images/ajax-indicator.gif);
    width: 32px;
    height: 32px;
}

.language_container {
    width: 130px;
    float: right;
    margin-left: 40px;
}

