@charset "utf-8";
/* CSS Document */
/* Copyright: AndesTransit */
/* Author: Spiro Kufojanakis / spiroodesk@gmail.com */
/* Last 5 revisions:
 * SK: 140329 [v0.9]
 * SK: 140406 [v1.0]
 *
 *
 *
 */

/*= Grid changes for specific cases
****************************************************************************/

/* search page: (do not change) fixed width for the search results to fit in nicely */
#main-search .col-md-10 {
	/*background: orange;*/
	width: 750px;
}
/* /search page: (do not change) fixed width for the search results to fit in nicely */

/* search page: (do not change) fixed width for the search results to fit in nicely */
#main-search .col-md-2 {
	/*background: blue;*/
	width: 200px;
	padding: 0;
	padding-left: 5px;
}
/* /search page: (do not change) fixed width for the search results to fit in nicely */

/* review page: company details left sidebar space between */
.cdetails {
	width: 32.7777777%;
	margin-right: 0.5555555%;
}
/* /review page: company details left sidebar space between */


/*= Responsive
****************************************************************************/

@media (max-width: 991px) {
	
	header { min-height: 107px; }
	header .taglines { width: 273px; }
	header .divider { margin-top: 0; }
	header .tagline2 { width: 270px; font-size: 14pt; }
	header .tagline3 { width: 270px; font-size: 10pt; margin-top: 8pt; letter-spacing: normal; }
	header .pull-right-resp { float: right !important; }
	header .membership { font-size: 10pt; }	
	.footer-nav .f-nav-col { margin-left: 12pt; }
	.footer-nav .f-nav-col:first-child { margin-left: 0; }	
	.carousel-andes { margin-bottom: 0px; padding-bottom: 20px; }
	.custom-box .title { letter-spacing: normal; }
	
	.carousel-andes { padding-bottom: 0px; }
	.carousel-andes .carousel-inner > .item img {
		height: 383px;
		width: 345px;
	}
	
	/* do not change: fixed width for the adverts on right side to search results */
	#main-search .col-md-2 {
		width: 750px;
		padding-left: 15px;
		padding-left: 15px;
	}
	/* /do not change: fixed width for the adverts on right side to search results */
	
	.search-ads img {
		margin-right: 20px;
	}
	
	.adsright {
		margin-right: 55px;
	}
	
	.adsright:last-child {
		margin-right: 15px;
		float: right;
	}
	
	#main-review .listing .form-review-search-inner input {
		max-width: 600px;
		width: 387px;
		margin-bottom: 15px;
	}
	
	#main-review .listing .form-review-search-inner button {
		float: right !important;
	}
	
}

@media (max-width: 768px) {
	.modal-dialog { margin: auto; }
	.col-centered {
    	float: left;
	    margin: inherit;
	}
	
	/* do not change: fixed width for the adverts on right side to search results */
	#main-search .col-md-2 {
		width: 750px;
		padding-left: 15px;
		padding-left: 15px;
	}
	/* /do not change: fixed width for the adverts on right side to search results */
	
	
}





/*= Limit responsive containers to fit in smoothly
****************************************************************************/

header, main, footer {
	min-width: 768px !important;
}

.login-andes-container {
	max-width: 548px !important;
	min-width: 548px !important;
	margin: 0px auto;
}